<footer class="row mt-4 justify-content-center">

  <div class="col-12 mb-3 mb-md-4 mt-1 mt-lg-0">
    <div class="whitelinks text-center text-light">
      <a href="mailto:none@none.com"><span class="far fa-envelope"></span></a>
      <a href="https://github.com/xbow" target="_blank"><span class="fab fa-github"></span></a>
      <a href="https://codepen.io/xbow/" target="_blank"><span class="fab fa-codepen"></span></a>
      <a href="https://www.xing.com/profile/Sebastian_Armbrust5/" target="_blank"><span class="fab fa-xing"></span></a>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-8">
    <nav class="text-light text-md-center text-lg-right mb-3">
      <a href="#" class="text-light mr-3">Top</a>
      <a href="" class="text-light mr-3">Imprint</a>
      <!--a href="" class="text-light mr-3">Contact</a-->
    </nav>
  </div>
  <div class="text-light text-md-center text-lg-left col-xl-6 col-lg-7 col-md-8 mb-3">
    &copy; 2018 Sebastian Armbrust
    <br>created with html, bootstrap, css, vscode, emmet&hearts;.
    <br>other resources: unsplash, google fonts, fontawesome.
  </div>
</footer>