<!DOCTYPE html>
<html>

<head>
  <title>Express Test</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="bg-secondary">
  <div class="container">



    <%- include('partials/header') %>
    <%- include('partials/main') %>
    <%- include('partials/footer') %>
  </div>
</body>

</html>